@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Montserrat:ital,wght@1,300&family=Public+Sans:ital@1&family=Rye&family=Special+Elite&display=swap');
body {
    font-family: 'Kanit', sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  input {
    padding: 5px;
    font-size: 18px;
    font-family: inherit;
    border-radius: 5px;
    border: 1px solid gray; 
  }
  
  #plus {
    font-size: 28px;
    font-family: 'Rye';
  }
  
  button {
    padding: 5px 10px;
    font-size: 18px;
    background: aqua;
    color: blue;  
    border: 1px solid gray; 
    border-radius: 5px;
    font-family: inherit;
  }
  
  #result {
    margin-top: 20px;
    font-size: 24px;
  }