@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Kanit:ital,wght@1,300&family=Montserrat:ital,wght@1,300&family=Pacifico&family=Playpen+Sans:wght@300&family=Public+Sans:ital@1&family=Rye&family=Special+Elite&display=swap');

/*Apply font styles and body styling */
  body {
    font-family: 'Playpen Sans', sans-serif;
    background-color: #eaece5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style the main container */
.main-container {
    background-color: #b2c2bf;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0.4, 0.5);
    padding: 20px;
    text-align: center;
}

/* Style headings */
h1 {
    color: #333;
}

h2 {
    color: #555;
}

/* Style input elements */
input {
    padding: 8px;
    margin: 5px;
    font-family: 'Playpen Sans', sans-serif;
    font-weight: 400;
}

/* Style the "+" element */
#plus {
  font-size: 46px;
 
}

/* Style the calculate button */
button {
    padding: 12px;
    background-color:#3b3a30;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0.2, 0.5);
    font-family: 'public sans', sans-serif;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #b2c2bf;
}

/* Define a keyframe animation for moving emoji */
@keyframes moveEmoji {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* Style the result  */
#result {
  margin-top: 10px;
  font-weight: bold;
  position: relative;
}

/* Define styles for the emoji after a result is added */
.show-emoji::after {
  content: ' 💯';
  margin-left: 10px;
  font-size: 24px;
  display: inline-block;
  animation: moveEmoji 2s ease infinite;

}

